@model IEnumerable<collectible_figures.Models.Classification>

@{
    ViewBag.Title = "Lista typów figurek";
}

<h2>Lista typów figurek</h2>

<p>
    @Html.ActionLink("Dodaj nowy typ", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.ClassificationID }) |
            @Html.ActionLink("Szczegóły", "Details", new { id=item.ClassificationID }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.ClassificationID })
        </td>
    </tr>
}

</table>
